body{
    background-color: hsl(0, 0%, 90%);
}
.header{
    color: hsl(60, 10%, 19%);
}
.switch{
    background-color: hsl(0, 5%, 81%);
}
.screen{
    color: hsl(60, 10%, 19%);
	background: hsl(0, 0%, 93%);
}
.keys{
    background-color: hsl(0, 5%, 81%);
}
.keys span{
	background: hsl(45, 7%, 89%);
	box-shadow: 0px 4px hsl(35, 11%, 61%);
	color: hsl(60, 10%, 19%);
}
.keys .delete, .keys .clear{
    color: white;
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0 4px  hsl(185, 58%, 25%);
}
.keys .eval{
    color: white;
    background-color: hsl(25, 98%, 40%);
    box-shadow: 0 4px hsl(25, 99%, 27%);
}
